h1{
    text-align: center;
    font-style: oblique;
    padding: 20px;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    background-color: grey;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4,90px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 360px;
    background-color:greenyellow;
                inset:5px 5px 12px rgba(0,0,0,16);
                color:rgba(70,70,70);
                font-size: 30px;
                text-align:end;
                margin: auto;
                margin-top: 40px;
                margin-bottom: 30px;
                padding:20px;          
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0ec;
    border: none;
    border-radius: 10px;
    margin:8px;
    font-size: 20px;

}
.equal{
    width: 140px;
    border-radius: 50px;
    background-color: #2a1bb4;
    border: none;
    border-radius: 10px;
    margin: 8px;
    font-size: 30px;
}